@page "{id:int}"
@model Recomandare_PC.Pages.Admin.Categories.DeleteModel
@{
    ViewData["Title"] = "Șterge categorie";
}

<h2>Confirmi ștergerea categoriei <strong>@Model.Category?.Name</strong>?</h2>
<form method="post">
    <input type="hidden" asp-for="Category!.Id" />
    <button type="submit" class="btn btn-danger">Da, șterge</button>
    <a asp-page="Index" class="btn btn-secondary">Anulează</a>
</form>
